<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <article>
        <h3>
        Chose the best maintenance strategy
        </h3>
        <br>
        <p class="homepage-p">
        We spend a lot of time extolling the virtues of preventive maintenance, but it’s far from the only maintenance strategy out there. There are many different approaches that you can mix and match, depending on your assets, your industry, and the size and experience of your maintenance team. Today we’re going to compare the four most common maintenance strategies, their pros and cons, and when they are most effective.
        </p>
        <p class="homepage-p">
        This article covers the most common strategies, but it’s hardly an exhaustive list. For more ideas, head over to our maintenance strategies page.
        </p>
        <br>
        <h4>
        1. Run-to-failure (breakdown maintenance)
        </h4>
        <br>
        <p class="homepage-p">
        Run-to-failure is a good strategy for equipment that isn’t essential for operations (think anything that’s rarely used or duplicates the function of other equipment) or has a low cost. The simplest example here is a light bulb. You’re always going to let it burn out before replacing it because the cost of fixing it is low and the impact of ‘downtime’ is insignificant. A slightly more complex example is a $1000 belt feeder, whose lifetime value can be extended by 10% by servicing it every 3 months. How hard are you willing to work to save $100? For a non-critical piece of machinery, the answer should be “not hard”.
        </p>
        <p class="homepage-p">
        Equipment designated as run-to-failure is fixed in the event of a breakdown (by repair, restoration or parts replacement) until it is more feasible to simply order replacement equipment.
        </p>
        <br>
        <h4>
        2. Preventive (scheduled) maintenance
        </h4>
        <br>
        <p class="homepage-p">
        This is one of the most commonly known and implemented maintenance strategies. Preventive maintenance involves periodically taking assets offline and inspecting or repairing them at predetermined intervals (usually time or event-based triggers). Although preventive maintenance is a relatively easy strategy to set up and execute, it can prove costly in the long run since it doesn’t take many factors into account that might affect an asset’s productivity.
        </p>
        <p class="homepage-p">
        If you’re taking a predominantly preventive approach, then it’s recommended that you scrutinize the efficiency of the schedule and look for areas where predictive maintenance can be implemented instead. Additionally, an annual review of a schedule’s effectiveness can go a long way towards raising overall equipment effectiveness.
        </p>
        <br>
        <h4>
        3. Predictive maintenance (PdM)
        </h4>
        <br>
        <p class="homepage-p">
        PdM is a condition-based maintenance strategy. It’s based on predicting failure before it happens, rather than on the average life stats of an assets (which is the case with preventive maintenance).
        </p>
        <p class="homepage-p">
        It is possible to carry out PdM via visual inspections of equipment, but the easiest way to establish a predictive maintenance strategy is by using a CMMS to track meter readings. The advantage of PdM (over PM) is the potential for cost savings from reduced man-hours spent on maintenance, and more insight as to the performance and potential issues arising with the machine.
        </p>
        <br>
        <h4>
        4. Reliability-centred maintenance (RCM)
        </h4>
        <br>
        <p class="homepage-p">
        Equipment failure is not always linear. RCM is a maintenance strategy that addresses this with an in-depth, highly involved process that seeks to analyze all the possible failure modes for each piece of equipment and customize a maintenance strategy for each individual machine.
        </p>
      </article>
    </div>
  </div>
</div>



<!-- AFFICHAGE DES COCKTAILS


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "cocktail.jpg" %>');">
            <div class="card-category"><h2><%= cocktail.name %></h2></div>
            <div class="card-description">

              <p><%= link_to 'Show', cocktail, class: "test"%>
              <%= link_to 'Edit', edit_cocktail_path(cocktail), class: "test" %>
              <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "test" %></p>
            </div>
          </div>
        </div>

      <% end %>
  </div>
</div>

 -->
